# ignore all .db files
# -->Put .db files here that should be ignored.

# ignore all .csv files
# -->put .csv files here that Git should ignore

#ignore venv
venv

# ignore settings.py (instellingenbestand
settings.py

# ignore tasks
tasks.db
